body{
  font-family: 'Bangers', cursive;
  color: #454545;
}

body{
  font-size: 17px;
}

h1 {
  font-size: 50px;
}
.logo a{
  color: #ff0000;
  text-decoration: none;
}

.pokemon-form {
  background-color: #ff0000;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
}

.pokemon-form-input {
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  outline: none;
  resize: none;
}

.pokemonList {
  padding-top: 30px;
}

.pokemonList  li  a {
  color: #454545;
  text-decoration: none;
}

.pokemonList  > li > .edit-icons {
  cursor: pointer;
}

.pokemonList  > li > .edit-icons > a:hover {
  text-decoration: none;
}

.pokemonList  > li > .edit-icons > a.trash:hover {
  color: #ff0000;
}

.star{
  padding-right: 30px;
}

.edit-icons {
  margin-top: 38px;
  margin-right: 20px;
}

.buttons{
  padding-left: 0;
}
