<form name="pokemonForm" ng-submit="addPokemon()" class="pokemon-form" novalidate>
  <div class="form-group">
    <input type="text" ng-model="newPokemon.name" placeholder="Add your new pokemon's name here" required ng-class="{'error':pokemonForm.$invalid && pokemonForm.$dirty}" class="pokemon-form-input">
  </div>
</form>
<div>{{message}}</div>
<div class="col-md-offset-3 col-md-6 col-md-offset-right-3 buttons">
  <button ng-click="sortBy('name')" class="btn btn-default"><i class="fa fa-tag" aria-hidden="true"></i> sort by name</button>
  <button ng-click="sortBy('weight')" class="btn btn-default"><i class="fa fa-balance-scale" aria-hidden="true"></i> sort by weight</button>
  <button ng-click="sortBy('created_at')" class="btn btn-default"><i class="fa fa-clock-o" aria-hidden="true"></i> sort by time</button>
</div>

<ul class="list-group pokemonList col-md-offset-3 col-md-6 col-md-offset-right-3">
  <li ng-repeat="pokemon in pokemons | orderBy:propertyName:reverse" class="list-group-item">
    <a ui-sref="pokemon({name:pokemon.name})">Name : {{pokemon.name}} <img src="{{pokemon.image}}"> </a>
    <a ng-click="removePokemon(pokemons, $index)"><span class="pull-right fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
  </li>
</ul>