<form name="pokemonForm" ng-submit="addPokemon()" class="pokemon-form" novalidate>
  <input type="text" ng-model="newPokemon.name" placeholder="Add your new pokemon's name here" required ng-class="{'error':pokemonForm.$invalid && pokemonForm.$dirty}" class="pokemon-form-input">
</form>
  <div>{{message}}</div>
  <button ng-click="sortBy('name')">sort by name</button>
  <button ng-click="sortBy('weight')">sort by weight</button>
  <button ng-click="sortBy('created_at')">sort by time</button>
<ul class="pokemonList">
  <li ng-repeat="pokemon in pokemons | orderBy:propertyName:reverse"> <a ui-sref="pokemon({name:pokemon.name})">Name : {{pokemon.name}} Weight : {{pokemon.weight}} Height: {{pokemon.height}}</a> <i class="fa fa-trash-o" aria-hidden="true" ng-click="removePokemon(pokemons, $index)"></i></li>
</ul>